{% import '_post_builder.j2' as post_builder %}

{% macro _info_button(post, color='primary') %}
    <a href="{{ url_for('posts_bp.post', slug=post.slug) }}" class="btn btn-{{ color }}">
        Детальніше
        <i class="fas fa-eye"></i>
    </a>
{% endmacro %}


{% macro _button_panel(user, post, main_color) %}
    {% set info_color = 'outline-' + main_color %}
    {{ _info_button(post, info_color) }}
    {% if not user.is_anonymous and user.is_author(post) %}
    <a href="{{ url_for('posts_bp.update_post', slug=post.slug) }}" class="btn btn-info">
        <i class="fas fa-pen"></i>
    </a>

    <a href="{{ url_for('posts_bp.delete_post', slug=post.slug) }}" class="btn btn-danger">
        <i class="fas fa-trash"></i>
    </a>
{% endif %}
{% endmacro %}

{% macro _image_display(post) %}
    {% if post.image %}
        <img class="card-img-top" src="{{ post.image }}" alt="{{ post.title }}">
    {% endif %}
{% endmacro %}

{% macro _tag_display(tag, href, color) %}
    <a href="{{ href }}" class="badge badge-{{ color }}">{{ tag.value }}</a>
{% endmacro %}

{% macro _tags_panel(tags, color) %}
    {% call post_builder.build_text("pt-1") %}
        {% for tag in tags %}
            {{ _tag_display(tag, url_for('posts_bp.tag_posts', slug=tag.slug), color) }}
    {% endfor %}
    {% endcall %}
{% endmacro %}

{% macro _date_display(date, template='%d.%m.%Y') %}
    <i class="fas fa-calendar-alt pr-1"></i>
    {{ date.strftime(template) }}
{% endmacro %}

{% macro max_post(post, user, main_color) %}
<div class="card">
    {{ _image_display(post) }}
    {% call post_builder.build_body() %}
        {{ post_builder.build_title(post.title) }}

        {% call post_builder.build_text() %}
            {{ post.subtitle }}
        {% endcall %}

        {{ _button_panel(user, post, main_color) }}

        {{ _tags_panel(post.tags, main_color) }}
    {% endcall %}

    {% call post_builder.build_footer("text-muted") %}
        {{ _date_display(post.date) }}
    {% endcall %}
</div>
{% endmacro %}

{% macro min_post(post, user, main_color) %}
<div class="card">
    {% set header_class = 'pb-0 text-white bg-' + main_color %}
    {% call post_builder.build_header(header_class) %}
        {{ post_builder.build_title(post.title) }}
    {% endcall %}
    {% call post_builder.build_body() %}

        {% call post_builder.build_text() %}
            {{ post.subtitle }}
        {% endcall %}

        {{ _button_panel(user, post, main_color) }}

        {{ _tags_panel(post.tags, main_color) }}

    {% endcall %}
</div>
{% endmacro %}

{% macro carusel_post(post, user, main_color='warning', button_color='primary', is_active=False) %}
<div class="carousel-item {% if is_active %}active{% endif %}">
    <div class="raw card text-center bg-{{ main_color }}">
        {% call post_builder.build_header("px-5") %}
            <span>
                {{ _date_display(post.date) }}
            </span>
        {% endcall %}

        {% call post_builder.build_body() %}
            {{ post_builder.build_title(post.title) }}

            {% call post_builder.build_text() %}
                {{ post.subtitle }}
            {% endcall %}

            {{ _info_button(post, "primary") }}
        {% endcall %}
    </div>
</div>
{% endmacro %}