{% from '_alerts_macros.j2' import alert %}
{% from '_paginate_macros.j2' import paginate %}
{% from '_post_macros.j2' import max_post %}

{% extends 'base.html' %}

{% block title %}
Пости
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/paginate.css') }}">
{% endblock %}

{% block content %}
{{ alert('m-3')}}

<article class="articles-grid container py-3">
    <div class="card-columns">
        {% if current_user.is_authenticated and pages.page == 1%}
        <a class="card p-0 stretched-link btn btn-outline-success" href="{{ url_for('posts_bp.create_post') }}">
            <i class="card-text far fa-plus-square fa-7x"></i>
        </a>
        {% endif %}

        {% for post in pages.items %}
        {{ max_post(post, current_user, 'primary') }}
        {% endfor %}
    </div>
</article>

{{ paginate(pages, link, context) }}

{% endblock %}