{% macro button(text, href, data_toggle="", data_target="") %}
    <a class="btn btn-warning my-2 my-sm-0 animated fadeInRight" href="{{ href }}"
    data-toggle="{{ data_toggle }}" data-target="{{ data_target }}"
    >{{ text }}</a>
{% endmacro %}

{% macro nav_link(text, href) %}
<li class="navbar__item nav-item">
    <a class="nav-link text-warning animated fadeInDown" href="{{ href }}">{{ text }}</a>
</li>
{% endmacro %}

<style>body{font-family:'PT Sans',sans-serif}.title{font-weight:bold;font-size:32px}.navbar__logo{height:60px}.navbar__item{font-size:20px}</style>
<header class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col p-0">
                <nav class="navbar navbar-expand-sm navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand p-0" href="#">
                        <img class="navbar__logo animated fadeIn" src="{{ url_for('static', filename='img/logo.svg') }}" alt="UKR" />
                    </a>

                    <div class="collapse navbar-collapse align-items-center" id="navbarToggler">
                        <ul class="navbar-nav mr-auto mt-2 mt-sm-0 align-items-md-center">
                            {{ nav_link("Головна", url_for("index")) }}
                            {{ nav_link("Статті", "#") }}
                            {{ nav_link("Кабінет", "#") }}
                        </ul>

                        {% if current_user.is_authenticated %}
                            {{ button("Вихід", url_for('auth.logout')) }}
                        {% else %}
                            {{ button("Вхід", "#", "modal","#loginModal") }}
                            <!-- Modal for login -->
                            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="loginModalTitle">Авторизація</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Login Form Start-->
                                            <section class="login-form container">
                                                <div class="row d-flex justify-content-center">
                                                    <form class="d-flex flex-column justify-content-center" method="POST" action="{{ url_for('auth.login') }}">
                                                        {{ header_form.hidden_tag() }}
                                                        <div class="form-group">
                                                            {{ header_form.name.label(for="loginInput") }}
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-user"></i>
                                                                    </div>
                                                                </div>
                                                                {{ header_form.name(id="loginInput", type="text", class_="form-control", placeholder="Введіть логін") }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            {{ header_form.password.label(for="passwordInput") }}
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-lock"></i>
                                                                    </div>
                                                                </div>
                                                                {{ header_form.password(type="password", class="form-control", id="passwordInput", placeholder="Пароль") }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group form-check">
                                                            {{ header_form.is_remember(type="checkbox", class_="form-check-input", id="loginCheckBox") }}
                                                            {{ header_form.is_remember.label(class_="form-check-label", for="loginCheckBox") }}
                                                        </div>
                                                            {{ header_form.submit(class_="btn btn-primary") }}
                                                    </form>
                                                </div>
                                            </section>
                                            <!-- Modal Form End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
